@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}



h4 {
    font-size: 35px;
    color: #222;
}

h2 {
    font-size: 60px;
    line-height: 54px;
    color: #222;
}

h1 {
    font-size: 60px;
    line-height: 64px;
    color: #222;
}




.logo {
    width: 300px;
    height: 100px;
}

body {
  width: 100%;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #FBEAEB;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 40px;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color:rgb(255, 255, 255);
}



#hero{
    background-image: url("img/kim2.png");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 15%;
    background-color: #FBEAEB;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color:#2F3C7E;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hero button{
    background-image: url("img/Batman_Logo.png");
    background-color: transparent;
    color:#ffffff;
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 80px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product1 {
    text-align: center;
    background-color: #FBEAEB;
}

#product1 h2{
    color:#2F3C7E;
    padding-top: 20px;
    padding-bottom: 20px;
}

#product1 p{
    font-size: 20px;
    padding-bottom: 20px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


#product1 .pro{
    width: 25%;
    min-width: 250px;
    padding: 0px 80px;
    cursor:pointer;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color:#2F3C7E
}

.des h4{
    font-size: 18px;
    padding-top: 7px;
}

.des span{
    font-size: 15px;
}

.des h5{
    font-size: 20px;
    padding-top: 7px;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #f2f5f3;
    font-weight: 500;
    color: #2F3C7E;
    border: 1px solid #ccf3d9;
    position: absolute;
    bottom: 20px;
    right: 10px;
}























